<div class="article-navigation">
    <span class="previous">Previous: <a href="{{ navigation.previous.url }}">{{ navigation.previous.title }}</a></span>
    <span class="next">Next:<a href="{{ navigation.next.url }}">{{ navigation.next.title }}</a></span>
</div>