{% extends "@tina4css/base.twig" %}

{% block content %}
            <div class="col-md-4 offset-md-4">
                <div class="card mt-4">
                    <div class="card-header">
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form id="loginForm" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" name="email" placeholder="Email Address"
                                       autocomplete="on"/>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" name="password" placeholder="Password"
                                       autocomplete="on"/>
                            </div>
                            <button class="btn btn-block btn-primary">Login</button>

                            <a href="/cms/login/reset">reset password</a>
                            {{ "login" | formToken | raw }}
                        </form>
                        <script>
                            $("#loginForm").validate({
                                rules: {
                                    email: "required",
                                    password: "required",

                                },
                                messages: {
                                    email: "Email address required",
                                    password: "Password required"
                                }
                            });
                        </script>

                    </div>
                    {% if (request.error) %}
                        <div class="alert alert-danger"><strong>Invalid!</strong> Your username or password is incorrect!</div>
                    {% endif %}
                </div>
            </div>


{% endblock %}