{% extends twigNameSpace ~ '/base.twig' %}
{% block headers %}
    <link rel="stylesheet" href="/css/page-builder.css">
{% endblock %}
{% block navigation %}
    <nav class="top-bar">

        {% if session.user is not null %}
            <nav class="custom-nav">
                {% for menuItem in menuItems %}
                    {# This will need an active class of ".adtive" #}
                    <a class="" href="#" onclick="loadPage('{{ menuItem.href }}', 'content')" style="color: #ffffff;">
                        <img class="pages-link-icon" src="{{ baseUrl }}/images/nav-icons/nav-icon-placeholder.svg">{{ menuItem.caption }}
                    </a>
                {% endfor %}
            </nav>
            <span class="custom-nav-separator"></span>
        {% endif %}

        <span class="cms-version">Version: {{ version }}</span>
    </nav>
{% endblock %}
{% block content %}
    <div class="cms-container" id="content">
        {% if not session.user %}
            {% do redirect('/cms/login') %}
        {% endif %}
        {% set userRoles = Content.getSecurityAttribute('', session.user.roleId) %}
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/pages', 'sub-content')">Pages</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Snippets or userRoles.Content.Snippets.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/snippets', 'sub-content')">Snippets</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content.Articles or userRoles.Content.Articles.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/articles', 'sub-content')">Articles</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content['Article Categories'] or userRoles.Content['Article Categories'].visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/article-categories', 'sub-content')">Article Categories</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Menus or userRoles.Content.Menus.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/menus', 'sub-content')">Menus</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content.CSS or userRoles.Content.CSS.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/css', 'sub-content')">CSS</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content['Email Templates'] or userRoles.Content['Email Templates'].visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/email-templates', 'sub-content')">Email Templates</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content.Users or userRoles.Content.Users.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/users', 'sub-content')">Users</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content.Roles or userRoles.Content.Roles.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/roles', 'sub-content')">Roles</a>
                    </li>
                {% endif %}
                {% if (not userRoles.Content.Site or userRoles.Content.Site.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/cms/site', 'sub-content')">Site</a>
                    </li>
                {% endif %}
            </ul>
            <div id="sub-content" class="cms-container-content">
            </div>
            <script>
                loadPage('/cms/pages', 'sub-content');
            </script>
        </div>
    </div>
    <style>
        .tree, .tree ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .tree ul {
            margin-left: 1em;
            position: relative
        }

        .tree ul ul {
            margin-left: .5em
        }

        .tree ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid
        }

        .tree li {
            margin: 0;
            padding: 0 1em;
            line-height: 2em;
            color: var(--color-bright-blue);
            font-weight: 700;
            position: relative;
            list-style-type: none;
        }

        .tree ul li:before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 1px solid;
            margin-top: -1px;
            position: absolute;
            top: 1em;
            left: 0
        }

        .tree ul li:last-child:before {
            background: #fff;
            height: auto;
            top: 1em;
            bottom: 0
        }

        .indicator {
            margin-right: 5px;
        }

        .tree li a {
            text-decoration: none;
            color: var(--color-bright-blue);
        }

        .tree li button, .tree li button:active, .tree li button:focus {
            text-decoration: none;
            color: var(--color-bright-blue);
            border: none;
            background: transparent;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            outline: 0;
        }


        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: inline-block;
            padding: 10px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
            color: var(--color-bright-blue);
            width: 100%;
        }

        .bootstrap-tagsinput input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            max-width: inherit;
            color: var(--color-bright-blue);
        }

        .bootstrap-tagsinput.form-control input::-moz-placeholder {
            color: #777;
            opacity: 1;
        }

        .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
            color: #777;
        }

        .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
            color: #777;
        }

        .bootstrap-tagsinput input:focus {
            border: none;
            box-shadow: none;
        }

        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            background: var(--color-bright-blue);
            color: white;
            padding: 5px 9px;
            border-radius: 6px;
        }

        .bootstrap-tagsinput .tag [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

        .bootstrap-tagsinput .tag [data-role="remove"]:after {
            content: "x";
            padding: 0px 2px;
        }

        .bootstrap-tagsinput .tag [data-role="remove"]:hover {
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

        @media (min-width: 1200px) {
            .modal-xl {
                max-width: 90vw;
            }

            .modal-lg {
                max-width: 90vw;
            }
        }
    </style>
{% endblock %}