:root {
  --color-dark-blue: #1E245C;
  --color-bright-blue: #2A3382;
  --color-active-blue: #3B48B7;
  --color-dark-gray: #515962;
  --color-gray: #dfdfdf;
  --color-medium-gray: #EBEBEB;
  --color-light-gray: #FAFAFA;
  --border-radius-base: 5px;
  --top-bar-height: 50px;
}

/* Let's highlight canvas boundaries */

#gjs {
  height: 100vh !important;
}

/* Reset some default styling */

body, html {
  height: 100%;
  margin: 0;
  background: #ffffff;
}

body:not(.gjs-dashed) {
  font-family: 'Arimo', sans-serif;
}

.tina-logo {
  padding: 0;
  height: var(--top-bar-height);
  background: var(--color-bright-blue);
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 45px;
  }
}

.top-bar {
  padding: 0 15px;
  height: var(--top-bar-height);
  background: var(--color-dark-blue);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.sidebar-toggler-container {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -9px;
}

.sidebar-toggler {
  height: 2px;
  width: 20px;
  border-radius: 2px;
  background: #ffffff;
  display: block;
  text-decoration: none;

  &:before, &:after {
    content: "";
    height: 2px;
    width: 20px;
    border-radius: 2px;
    background: #ffffff;
    display: block;
    position: relative;
  }

  &:before {
    top: -7px;
  }

  &:after {
    top: 5px;
  }
}

.custom-nav-separator {
  display: block;
  height: 30px;
  width: 1px;
  background: #ffffff;
  opacity: .5;
}

.custom-nav {
  display: flex;
  align-items: center;
  gap: 5px;

  a {
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: var(--border-radius-base);
    background: transparent;
    transition: background .2s ease-in-out;

    &:hover, &.active {
      background: var(--color-active-blue);
      transition: background .2s ease-in-out;
    }

    img {
      width: 20px;
    }
  }
}

.cms-version {
  color: #ffffff;
  font-size: 12px;
  padding: 6px 8px;
  line-height: 1;
  border-radius: var(--border-radius-base);
  background: var(--color-active-blue);
}

.nav-sidebar {
  background: var(--color-medium-gray);
  position: relative;
}

.editor-wrap {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
}

.app-wrap {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
}

.pages-wrap, .pages {
  display: flex;
  flex-direction: column;
}

.pages-wrap {
  background: var(--color-light-gray);
}

.exit-builder-container {
  display: flex;
  background: var(--color-bright-blue);
  color: #ffffff;
  padding: 5px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: start;
}

.exit-builder {
  border: 1px solid #fff;
  padding: 8px 13px;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  transition: background .3s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
    transition: background .3s ease-in-out;
  }
}

.pages-heading,
.pages-link {
  height: 50px;
  border-left: 0 solid transparent;
  padding: 0 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.pages-heading {
  background: var(--color-gray);
  color: var(--color-dark-gray);
  font-weight: 700;
  margin: 0;
}

.pages-link {
  background: var(--color-light-gray);
  color: var(--color-dark-blue);
  font-weight: 400;
  transition: border-left .1s ease-in-out;

  &:hover {
    border-left: 5px solid var(--color-dark-blue);
    transition: border-left .1s ease-in-out;
  }

  &.active {
    color: var(--color-dark-blue);
    border-left: 5px solid var(--color-dark-blue);
    font-weight: 700;
    background: var(--color-medium-gray);
  }
}

.pages-link-icon {
  width: 25px;
}

.pages-links--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pages-link--logout {
  justify-content: space-between;
}

.site-selector {
  padding: 15px;
  padding-top: 5px;
  background: var(--color-gray);

  .form-select {
    font-size: 14px;
    height: 40px;
  }
}


//  ------------------------------
//  CMS Layout and Styling
//  ------------------------------

.cms-container {
  padding: 30px;
}

.cms-container-content {
  border: 1px solid var(--color-medium-gray);
  padding: 30px;
}

.nav-item {

}

.nav-tabs .nav-link {
  border-radius: 0;
  color: var(--color-dark-gray);
  border-top: 5px solid transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: 600;
  border-top: 5px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
  border-bottom: 1px solid #fff;
  position: relative;
  top: 1px;
}

// DataTables Loader Z-Index fix
div.dataTables_processing {
  z-index: 2;
}

//  ------------------------------
//  Page Builder Layout and Styling
//  ------------------------------
.gjs-pn-commands,
.gjs-pn-options,
.gjs-pn-devices-c {
  height: var(--top-bar-height);
}

.gjs-one-bg {
  &.gjs-pn-commands, &.gjs-pn-devices-c {
    box-shadow: none;
    background-image: none;
    background: var(--color-dark-blue);
  }
}

.gjs-devices-c {
  .gjs-device-label {
    display: none;
  }

  .gjs-field {
    background: transparent;
  }

  &:before {
    content: "Resonsive View";
    font-size: 14px;
    white-space: nowrap;
  }
}

.gjs-two-color {
  color: #ffffff !important;
}

.gjs-one-bg {
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));*/
  /*background-image: linear-gradient(#04519b, #033c73 60%, #02325f);*/
}

.gjs-pn-btn.gjs-pn-active {
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));*/
  /*background-image: linear-gradient(#04519b, #033c73 60%, #02325f);*/
  /*box-shadow: none;*/
}

[data-gjs-highlightable~="true"]:empty {
  outline: 2px solid #6f42c1 !important;
  padding: 20px;
}

.gjs-pn-panel.gjs-pn-devices-c {
  height: 40px;
}

.gjs-pn-views-container {
  padding: 50px 0 0;
}

.scalable-col {
  flex-grow: 1;
  border: 1px dashed #ccc;
  position: relative;
  overflow: hidden;

  &:after {
    content: '||';
    position: absolute;
    top: 50%;
    right: 2px;
    cursor: ew-resize;
  }
}

.flex-row {
  display: flex;
}

.navbar {
  background: var(--color-dark-blue);
}
