{% extends twigNameSpace ~ '/base.twig' %}
{% block headers %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/underscore.min.js"></script>
    <script src="/js/jquery.password-validator.js"></script>
    <script src="/js/jquery.validate.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-password-validator.css">
{%  endblock %}
{% block content %}
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4 class="h4">Setup CMS <img width="128px" style="float:right" src="/src/public/images/logo.png"></h4>
            </div>
            <div class="card-body">
                <form id="setupForm" method="post">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name"
                               value="" autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name"
                               value="" autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Email Address"
                               autocomplete="on"/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" id="password" type="password" name="password" placeholder="Password"
                               />
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword"
                               placeholder="Confirm Password"
                               />
                    </div>
                    <div class="d-grid gap-2">
                    <button class="btn btn-primary">Setup</button>
                    </div>
                    {{ "setup" | formToken | raw }}
                </form>
                <script>
                    $("#password").passwordValidator({
                        require: ['length', 'lower', 'upper', 'digit'],
                        length: 8
                    });
                    $("#setupForm").validate({
                        rules: {
                            email: "required",
                            password: "required",
                            confirmPassword: {required: true, equalTo: "#password"}
                        },
                        messages: {
                            email: "Email address required",
                            password: "Password required",
                            confirmPassword: "Make sure you type the same value in again"
                        }
                    });


                </script>

            </div>
        </div>
    </div>


{% endblock %}