
<ul class="medium" >

    <li style="list-style-type: none;">
        <div class="aligncenter">
            <img src="{{ article.image }}">
                <h3 class="widget-title"><a href="https://dev.dartsworld.com/exclusive-bunting-wants-double-celebration/">Exclusive: Bunting Wants Double Celebration.</a></h3>
                <h5>tags / author / date </h5>
        </div>
    </li>
    <li>
        <p>some text from snippet here</p>
    </li>
</ul>
