<div class="pages">
    {% for page in pages %}
        <a href="#" class="pages-link"
           onclick="setActive(this); $('#gjs').show(); $('#cms').hide(); loadGrapeJsPage('{{ page.id }}')">{{ page.title }}</a>
    {% endfor %}
</div>